<%@tag description="put the tag description here" pageEncoding="UTF-8"%>
<%@attribute name="titulo"%>
<%@attribute name="nombreUser"%>
<%@attribute name="clase"%>
<%@attribute name="nombrePass"%>
<h2 class="form-signin-heading">${titulo}</h2>
<input type="text" class="input-block-level" placeholder="Usuario"name="${nombreUser}" >
<input type="password" class="input-block-level" placeholder="Contraseña" name="${nombreUser}" >
<label class="checkbox">
    <input type="checkbox" value="remember-me"> Remember me
</label>
<button class="btn btn-large btn-primary " type="submit" name="accion">Sign in</button>
