/* 
    Document   : style
    Created on : 10-jul-2013, 9:29:27
    Author     : biblioteca
    Description:
        Purpose of the stylesheet follows.
*/



#contenido {

}
#contenido #indice{

    margin: auto;
}

#contenido table form.btn-group {
    /* padding-top: 17px;
     margin-left: 10px;*/
    margin: 0;
    padding: 0;

}

#contenido table td{
    height: 15px;
}

h1{
    text-align: center;
}
table#TablaResultados {
    width: 100%;
    text-align: center;
}

#TablaResultadosBusqueda {
    width: 100%;

}
td.botones-crud {
    width: 15%;
}

#materiasLista td.botones-crud {
    width: 20%;
}
form.submit-box {
    width: 400px;

}
#TablaResultados_filter {

    float:right;
}
#TablaResultados_length {
   
    float:left;
}
#TablaResultados_length select{
   
   width: 60px;
}
#TablaResultados_wrapper, #TablaResultadosBusqueda_wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {

    margin-bottom: 0;
}
.sorting {
    cursor: pointer;
}
.paginate_enabled_next, .paginate_disabled_next {
    float:right;
    margin-bottom: 20px;

}
.paginate_enabled_next {  
    cursor: pointer;    
}
a.paginate_disabled_next {
    text-decoration: none;    
}
a.paginate_disabled_next:hover {
    text-decoration: none;    
}
.paginate_enabled_previus, .paginate_disabled_previous{
    float:left;    
     margin-bottom: 20px;
}
.paginate_enabled_previus {
    cursor: pointer;    
}
.paginate_disabled_previous:hover{
    text-decoration: none;
}

#mensajeBorrado {
    position: fixed;
    width: 300px;
    top: 20px;
    left: 40%;
      
}
.columnPrincipal {
    width: 70%;
}
.columnId {
    width: 5%;
}
.column2 {
    width: 20%;
}
#TablaResultadosBusqueda_length select {
    width: 10%;
}
