<!--CABECERA-->
<%@ page pageEncoding="UTF-8" %>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <form id ="formulario" action="/Biblio/Index" method="POST" class="navbar-form pull-left">
                    <a class="brand" href="/Biblio/index.jsp">Inicio</a>
                    <ul class="nav">
                        <li class="btn-group">
                            <button class="btn" type="submit" value="libros" name="accion"  >
                            <span class="add-on"><i class="icon-book"></i> Libros</span> 
                            </button>
                            <button class="btn" type="submit" value="autores" name="accion"  >
                            <span class="add-on"><i class="icon-user"></i> Autores</span> 
                            </button>
                            <button class="btn" type="submit" value="materias" name="accion"  >
                            <span class="add-on"><i class="icon-tags"></i> Materias</span> 
                            </button>
                            <button class="btn" type="submit" value="estanterias" name="accion"  >
                            <span class="add-on"><i class="icon-list"></i> Estanterías</span> 
                            </button>
                        </li>
                    </ul>
                </form> 
                <span class="text-info"> Usuario: <%= request.getRemoteUser() %> </span>
                <form id ="formulario" action="/Biblio/Index" method="POST" class="navbar-form pull-right ">
                    <ul class="nav pull-right">
                        <li class="btn-group">
                            <button class="btn" type="submit" value="libroNuevo" name="accion"  >
                            <span class="add-on"><i class="icon-plus"></i><i class="icon-book"></i> Nuevo Libro</span> 
                            </button>
                                                      <button class="btn" type="submit" value="busquedaAvanzada" name="accion"  >
                            <span class="add-on"><i class="icon-search"> </i> Búsqueda Avanzada</span> 
                            </button>
                            <button class="btn btn-info" type="submit" value="verUsuario" name="accion"  >
                            <span class="add-on"><i class="icon-user"> </i> Usuario</span> 
                            </button>
                             <button class="btn btn-warning" type="submit" value="cerrarSesion" name="accion"  >
                            <span class="add-on"><i class="icon-remove-circle"> </i> Cerrar</span> 
                            </button>
                        </li>
                    </ul>
                </form>
            </div>       
        </div>
    </div>
</div>
<!-- ...... FIN CABECERA-->